<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
    <div *ngIf="getShowLoadingIndicator()" class="contener_general">
        <div class="contener_mixte">
            <div class="carrecolor carre_1">&nbsp;</div>
        </div>
        <div class="contener_mixte">
            <div class="carrecolor carre_2">&nbsp;</div>
        </div>
        <div class="contener_mixte">
            <div class="carrecolor carre_3">&nbsp;</div>
        </div>
        <div class="contener_mixte">
            <div class="carrecolor carre_4">&nbsp;</div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>